<div class="row">
    <div class="col-sm-12">
        <div class="card text-white bg-window-1" id="{{id}}_plugin">
            <div class="card-header">{{name}}</div>
            <div class="card-body">
                <p class="card-text">{{data.name}}</p>
                {{#each data.hours}}
                    <p class="card-text">{{this}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>