<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="screen" href="/assets/bootstrap4/dist/css/bootstrap.min.css" />

        <!-- For weather plugin. We need a better way to include plugins styles :) -->
        <link rel="stylesheet" type="text/css" media="screen" href="/assets/weather-icons/css/weather-icons.min.css" />

        <title>Scaleboard</title>
    </head>
    <body>
        <div class="container-fluid" id="viewboard">
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="socket.io/socket.io.js"></script>
        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="/assets/bootstrap4/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/handlebars/handlebars.min.js"></script>
        <script src="/statics/controllers/viewboard.js"></script>
        <script src="/statics/scaleboard.js"></script>
    </body>
</html>