.card {
    font-size: 2rem;
}

.bg-navbar {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(200, 200, 200, 1);
}

.bg-window-1 {
    border-color: rgba(0, 126, 178, 1);
}
.bg-window-1 > .card-header {
    background-color: rgba(0, 126, 178, 0.9);
}
.bg-window-1 > .card-body {
    background-color: rgba(0, 126, 178, 0.8);
}