<div class="jumbotron" id="{{id}}_plugin">
    <h1 class="display-4">{{name}}</h1>
    <p class="lead">
        <blockquote class="blockquote text-center">
            <p class="mb-0" style="font-size: 4em;">{{data}}</p>
            <footer class="blockquote-footer" style="font-size: 4em;">Chuck Norris</footer>
        </blockquote>
    </p>
</div>