<div class="row">
    <div class="col-sm-12">
        <div class="card text-white bg-window-1" id="{{id}}_plugin">
            <div class="card-header">{{name}}</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {{#data}}
                        <li class="media">
                            <div class="media-body">
                                <h5>{{title}}</h5>
                                <p>{{{description}}}</p>
                            </div>
                        </li>
                    {{/data}}
                </ul>
            </div>
        </div>
    </div>
</div>
